.cardT {
  background-color: rgb(34, 202, 214);
  color: white;
  padding: 1rem;
  height: 5rem;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 1100px) {
  .cards { grid-template-columns: repeat(4, 1fr); }
}

@media (min-width: 1300px) {
  .cards { grid-template-columns: repeat(6, 1fr); }
}
